* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

#about {
    font-weight: lighter;
    padding-bottom: 2em;
    border-bottom: 4px solid #2d3945;
    text-align: center;
    margin-top: 10px;
    color: rgb(97, 97, 97);
    margin-bottom: 2.5px;
}

.header {
    text-align: center;
    font-size: smaller;
    background-color: rgb(54, 62, 88);
    color: white;
    padding-top: .5px;
    padding-bottom: .5px;
}

#title {
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    padding-top: 30px;
    margin-bottom: 0px;
}

#contact {
    border-top: 1.5px solid #2d3945;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 18px;
    margin-top: auto;
}

form {
    max-width: 600px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #fbfcfc;
    border-radius: 8px;
}

.news {
    font-weight: lighter;
    margin-bottom: 8px;
}

#newsletter {
    padding-top: 30px;
    padding-bottom: 5px;
    font-weight: normal;
    font-size: 18px;
    border-top: 1.5px solid #2d3945;
    width: 100%;
}

input[type="text"],
input[type="email"],
textarea,
select {
  display: flex;
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 12px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc99f;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac1af;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }

  .footer {
    color: #a5a5a5;
    text-align: center;
    font-size: 13px;
    font-weight: lighter;
    font-style: italic;
}

@media (min-width: 768px){

}